/* validation du formulaire*/
.success {
  border-color: #089f5b;
}

.error {
  border-color: #d84242;
}

.form--errorMessage {
  color: #d84242;
  font-size: 12px;
  margin-bottom: 5px;
  height: 22px;
}

* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #fff;
  font-size: 3em;
}