@charset "UTF-8";
@font-face {
  font-family: "Playfair Display";
  src: url("../../fonts/playfair_display/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* validation du formulaire*/
.success {
  border-color: #089f5b;
}

.error {
  border-color: #d84242;
}

.form--errorMessage {
  color: #d84242;
  font-size: 12px;
  margin-bottom: 5px;
  height: 22px;
}

/* CSS pour le lien caché */
.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}